<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <p> Today's technology headlines are... </p>
    <ol>
        <li><a href={{urls[0]}}> {{titles[0]}} </a></li>
        <li><a href={{urls[1]}}> {{titles[1]}} </a></li>
        <li><a href={{urls[2]}}> {{titles[2]}} </a></li>
        <li><a href={{urls[3]}}> {{titles[3]}} </a></li>
        <li><a href={{urls[4]}}> {{titles[4]}} </a></li>
    </ol>
</body>
</html>